*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    min-height: 100vh;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(45deg, #045C50, #1F5C54, #07A893, #08DBBF, #4DE1CD);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #07111F;
}

div#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#container header{
    padding-block: 2rem;
    text-align: center;
}

div#container header h1{
    font-weight: 500;
}

div#container div.imagem img{
    border-radius: 50%;
    box-shadow: 1px 4px 10px #000;
}